
h3 {
    color: #ef0909;
    background-color: #f1f1f1;
}
.person-image {
    width: 120px;
    margin-bottom: 30px;
}
.person-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: beige;
    margin-bottom: 30px;
}
.person-title {
    text-align: center;
}
.person-age {
    color: #009ddc;
}
.person-text {
    padding: 20px;
}

/*=====  2.3    ==============*/

.wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.person-card-2_3 {
    width: 30%;
    border: 1px solid #8dade7;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person-title-2_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person-age-2_3 {
    color: #70d1fe;
}
.person-text-2_3 {
    order: 3;
    padding: 20px;
}
.person-image-2_3 {
    order: 2;
    width: 120px;
    height: 230px;
}

/*========   3.1    ============*/
.wrap-product-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.product-card {
    width: 25%;
    background-color: #baecee;
    border-radius: 10px;
    border: 1px solid #e7d1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-name {
    color: #7aa093;
}
.product-price {
    color: #b0e296;
}
.product-image {
    width: 150px;
    height: 150px;
}
